<p>Welcome &#128075;!</p>
<section class="container centered">
<p style="size: 9ch">I’m a software engineer with 5+ years of experience in developing web applications. 
    My portfolio showcases my work from the past few years, including projects I have worked on. I am passionate about creating high-quality products that are both innovative and user-friendly.</h4></p>
</section>
<p style="size: 9ch">Thanks for taking the time to explore my portfolio and learn more about what I do!</p>
<a href="./about/"><p><button style="background-color: rgb(36, 15, 152); border-radius: 1ch;">Learn more</button></p></a>